@using SIMSWeb.ConstantsAndUtilities
@using SIMSWeb.Model.ViewModels

@model UserViewModel;

<form method="post" asp-action="EditUser" asp-controller="Users">
    <input asp-for="Id" hidden />
    <input asp-for="Name" hidden />

    <div class="p-3 pt-4 gap-2">
        <div class="row">
            <h2>Edit User</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label>Name</label>
            <input asp-for="Name" type="text" class="form-control" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" type="email" class="form-control" disabled="@(Model.Name == "Admin")" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input asp-for="Password" type="password" class="form-control" disabled="@(Model.Name == "Admin")" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Role</label>
            <select asp-for="Role" class="form-select" disabled="@(Model.Name == "Admin")">
                <option value=@UsersConstants.ADMIN_ROLE>Admin</option>
                <option value=@UsersConstants.TEACHER_ROLE>Teacher</option>
                <option value=@UsersConstants.STUDENT_ROLE>Student</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                @if (Model.Name != "Admin") 
                {
                    <button type="submit" class="btn btn-primary" asp-action="EditUser" asp-controller="Users">Update</button>
                }
                <a asp-controller="Users" asp-action="ManageUsers" class="btn btn-outline-primary">Cancel</a>
            </div>
        </div>
    </div>
</form>


@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
