@model LoginViewModel

@{
    ViewData["Title"] = "Login Page";
}

<div class="card border-primary mb-3 container d-flex" style="max-width: 600px;">
    <div class="card-header">Login</div>
    <div class="card-body">
        <form method="post">
            <div class="p-3 pt-4 gap-2">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="mb-3">
                    <label>Email Id</label>
                    <div class="input-group">
                        <span class="input-group-text bi bi-envelope-at"></span>
                        <input asp-for="Email" type="email" class="form-control" />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <div class="input-group">
                        <span class="input-group-text bi bi-lock"></span>
                        <input asp-for="Password" type="password" class="form-control" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="row p-2">
                    <button asp-controller="Login" asp-action="Login" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>

    </div>
</div>


