<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIMSWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SIMSWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-4" 
        data-bs-theme="dark" style="height: 60px">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="mt-4">
                        <svg fill="#87e580" height="40px" width="40px" style="margin-bottom:20px" version="1.1" id="_x31__1_" 
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                        viewBox="-12.8 -12.8 153.60 153.60" xml:space="preserve" stroke="#87e580">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="1.28"></g>
                            <g id="SVGRepo_iconCarrier"> <path id="_x32_" d="M124.5,118V70h-36V58h-49v12h-36v48H0v10h128v-10H124.5z M97.5,91h5v23h-5V91z M93.5,114h-5V91h5V114z M102.5,87 h-5v-5h5V87z M106.5,82h5v5h-5V82z M106.5,91h5v23h-5V91z M115.5,91h5v23h-5V91z M120.5,87h-5v-5h5V87z M93.5,82v5h-5v-5H93.5z M21.5,87h-5v-5h5V87z M25.5,82h5v5h-5V82z M21.5,91v23h-5V91H21.5z M25.5,91h5v23h-5V91z M34.5,91h5v23h-5V91z M39.5,87h-5v-5h5V87 z M12.5,82v5h-5v-5H12.5z M7.5,91h5v23h-5V91z M46.5,120V70h7v50H46.5z M60.5,120V70h7v50H60.5z M74.5,120V70h7v50H74.5z"></path> <polygon id="_x31_" points="88.5,56 65,36.8 65,30 76,30 76,20 65,20 65,18 63,18 63,20 63,30 63,36.8 39.5,56 ">
                            </polygon> </g></svg>
                    </span>
                    <span class="align-content-center">SIMS</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area=""
                                   asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area=""
                                       asp-controller="Users" asp-action="ManageUsers">Users</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Course"
                                   asp-action="ManageCourses"> Courses</a>
                            </li>
                        </ul>
                    </div>
                }
                <div class="d-flex">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <button class="btn btn-sm nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                                    Hello @User.Identity.Name!
                                </button>
                                <ul class="dropdown-menu bg-primary">
                                    <li class="nav-item"><a class="dropdown-item btn my-2 my-sm-0" asp-controller="Login" asp-action="Logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <a class="btn btn-primary my-2 my-sm-0" asp-area="" asp-controller="Login">Login</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial class="pt-4 pb-4" name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - SIMSWeb
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
