@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@{
    <style>
        .home_btn {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            margin-bottom: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
        }

            .btn:hover {
                background-color: #0056b3;
            }
    </style>
}

<div class="container-fluid rounded-5 g-4 border-1 box-shadow border-danger text-center w-75 h-75 bg-danger-subtle p-lg-5">
    <div class="h1 text-danger fw-bold">
        @Model.StatusCode
    </div>

    <div class="h3">
        @Model.ErrorMessage
    </div>

    <div class="text-body-secondary">
        @if (Model.StatusCode == 404)
        {
            <p>It seems the page you're looking for no longer exists or has moved. You can:</p>
            <div class="g-1">
                <a href="/" class="home_btn">Return to Home</a>
                <p>Check the URL for typos.</p>
            </div>
        }
        else if (Model.StatusCode == 500)
        {
            <p>We're sorry for the inconvenience!: You can:</p>
            <div class="g-1">
                <div><a href="/" class="home_btn">Go Back to Home</a>
                </div>
                or
                <p>Try again later.</p>
            </div>
        }
        else
        {
            <p>Please try again later or contact support if the issue persists.</p>
        }
    </div>
</div>
